!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
  %body
    %h1
      New signup from
      = link_to "#{@signup.name} (#{@signup.email})", "mailto:#{@signup.email}"
    %h2
      Their details:
    %p

      - if @signup.community
        They listed their community as #{@signup.community}
      - if @signup.item
        They have access to: #{@signup.item.description},
      - if @signup.skill
        They listed their expertise as: #{@signup.skill.description}
    %br/