!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
  %body
    %h1
      Thanks for signing up, #{@signup.first_name}!
    %h2
      Your details:
    %p
      I have: #{@signup.have.description}, I need: #{@signup.need.description}
    %br/
    %p
      If you have any questions, be sure to contact
      = link_to "jen@ourgoods.org", "mailto: jen@ourgoods.org"

    %h2
      The details

    %address
      %strong= event.title
      %br/
      = event.date
      %br/
      = event.time
      %br/
      = event.venue
      %br/
      = event.address

    %p
      We'll see you there!
