!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
  %body
    %p
      Thanks for signing up, #{@signup.first_name}!
    %p
      We look forward to seeing you at the Idea Lab on
      #{l @signup.event.event_begin_time, format: :event_date } from
      #{l @signup.event.event_begin_time, format: :event_time_short } to
      #{l @signup.event.event_finish_time, format: :event_time }
      at
      #{@signup.event.venue }: #{@signup.event.address }. If you have questions or need to change your sign-up information, please email <a href="mailto:jen@ourgoods.org">jen@ourgoods.org</a>.
    %p
      Don’t forget - Idea Labs start on time! Latecomers may get shut out of the event.
    %p
    %p
      We hope you’re experiencing the abundance of OurGoods. There are cash costs associated with making this abundance visible - and OurGoods relies on philanthropy and member support to meet those costs. We rely on you. <a href="http://thefield.org/form/make-donation?sa=549966">Donate now!</a>
    %p
    %p
      Together,
    %p
    %p
      OurGoods
