!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
  %body
    %p
      Thanks for signing up, #{@signup.first_name}!
    %p
      - if @signup.community
        You listed your community as:
        %strong= @signup.community
        %br /
      - if @signup.item
        You have access to:
        %strong= @signup.item.description
        %br/
      - if @signup.skill
        You have expertise in:
        %strong= @signup.skill.description
        %br/

    %p
      If you have any questions, be sure to contact
      = link_to "jen@ourgoods.org", "mailto: jen@ourgoods.org"
    %h2
      The details:
    %address
      %strong= @signup.event.title
      %br/
      = l @signup.event.event_begin_time, format: :event_date
      %br/
      = l @signup.event.event_begin_time, format: :event_time_short
      \-
      = l @signup.event.event_finish_time, format: :event_time
      %br/
      = @signup.event.venue
      %br/
      = @signup.event.address

    %p
      We'll see you there!
