= render 'layouts/left_col'
.right-col.flip-container.col-md-6.col-sm-offset-1
  %h1
    Idea Lab! Sign-up
  = form_for(@signup, remote: true, html: { role: 'form' }) do |f|
    .flipper
      .page.front.active
        .page-indicator.page-toggle
          %p.current 1
          %p 2
        .flipper-contain
          = render 'errors'
          %h3 My contact info
          .form-group
            = f.text_field :name, class: "form-control", placeholder: "Name"
          .form-group
            = f.text_field :email, class: "form-control", placeholder: "Email"
          %h3 I'm coming on
          .form-group
            - active_events.each do |event|
              %label
                = f.radio_button :event_id, event.id
                = l event.event_begin_time, format: :event_date
                &nbsp; &nbsp;
                %b
                  = l event.event_begin_time, format: :event_time_short
                  \-
                  = l event.event_finish_time, format: :event_time
          - active_events.each do |event|
            %address.venue-address.form-group
              - if event.note.present?
                %strong
                  = event.note
                %br/
              %strong
                - if event.free?
                  = "FREE"
                - else
                  = number_to_currency event.price
                %br/
              = event.venue
              %br/
              = event.address
          .form-group
            %p.help-block.col-lg-10
              %small We won't send you spam. Unsubscribe at any time.
            .buttons
              %button.page-toggle.btn.btn-success.btn-med{type: "button"} NEXT PAGE
      .page.back
        .page-indicator.page-toggle
          %p 1
          %p.current 2
        .flipper-contain
          %h2 What can you offer?
          .form-group.row
            .col-md-7
              %p I spend time with
              = f.text_field :community, class: "form-control", placeholder: "group or community"
              %p I can tell you about this group and/or how to connect to other people in this group.
            .examples.col-md-5
              %strong For example:
              %ul
                %li parents of small children
                %li teaching artists
                %li bicycle maintenance folks
                %li Brooklyn Quakers
                %li social practice visual artists
          .form-group.row
            .col-md-7
              = f.fields_for :item do |ff|
                %p I have access to
                = ff.text_field :description, class: "form-control", placeholder: "tools, equiptment, or space"
                %p that I can help you make use of
            .examples.col-md-5
              %strong For example:
              %ul
                %li a cargo van
                %li a large rehearsal space
                %li a black and white copier
                %li a silkscreen setup
                %li an industrial sewing machine
          .form-group.row
            .col-md-7
              = f.fields_for :skill do |ff|
                %p I have expertise in
                = ff.text_field :description, class: "form-control", placeholder: "skill or trade"
                %p that I can share with you.
            .examples.col-md-5
              %strong For example:
              %ul
                %li graphic design
                %li healing
                %li social media
                %li videography
                %li listening
          .buttons
            %a.page-toggle.go-back go back
            &nbsp;
            = f.button "SIGN ME UP", type: "submit", class: "btn btn-success btn-med btn-submit"


