<div class="text-block col-lg-4 col-lg-offset-1">
  <address class="col-lg-offset-1">
    <strong>Asset Mapping For Artists</strong><br>
    Monday, September 23rd<br>
    6:30-8:30pm<br>
    New York Live Arts<br>
    219 W 19th St (btw 7th and 8th Aves)
  </address>
  <p>
    EVENT DESCRIPTION Disrupt scenester
    VHS ethical. Austin adipisicing ullamco
    veniam, swag scenester eiusmod ennui
    banh mi. Blog delectus sartorial,
    dreamcatcher plaid skateboard in cliche
    selfies freegan High Life. Flexitarian
    mustache plaid elit master cleanse
    selfies. Salvia flexitarian consequat
    incididunt cornhole semiotics sustainable
    3 wolf moon narwhal. High Life locavore
    bicycle rights anim, bitters helvetica
    selvage meh cliche Schlitz. Accusamus
    YOLO retro et cray pork belly.
  </p>
</div><!-- //col1 -->
<div class="flip-container col-lg-5 col-lg-offset-2 text-block">
  <div class="flipper">
    <div class="front">
      <h2>Have something to share?</h2>

      <%= form_for(@signup, remote: true, html: { class: 'form-horizontal col-lg-9', role: 'form' }) do |f| %>
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
        </div>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
        </div>
        <div class="form-group">
          <%= f.text_field :have, class: "form-control", placeholder: "I have..." %>
        </div>
        <div class="form-group">
          <%= f.text_field :need, class: "form-control", placeholder: "I need..." %>
        </div>
        <p class="help-block text-center"><small>We won't send you spam. Unsubscribe at any time.</small></p>
        <p>
          <%= f.button "HOWS IT WORK?", id: 'how-it-works', class: "btn btn-info btn-med" %>
          <%= f.button "SIGN ME UP", type: "submit", class: "btn btn-success btn-med" %>
        </p>
      <% end %>
    </div><!-- //front -->
    <div class="back">
      <h2>How it works</h2>
      <div class="col-lg-9">
        <p>
          Don't know what you HAVE or NEED? Here's some helpful copy
          that will magically transform your brain.
        </p>
        <ul>
          <li>suggestion lorem ipsum dolor suggestion lorem ipsum dolor</li>
          <li>suggestion lorem ipsum dolor suggestion lorem ipsum dolor suggestion lorem ipsum dolor</li>
          <li>suggestion lorem ipsum dolor suggestion lorem ipsum dolor suggestion lorem ipsum dolor</li>
          <li>suggestion lorem ipsum dolor</li>
        </ul>
        <div id="lets-do-it" class="btn btn-success btn-med">LETS DO IT</div>
      </div>
    </div><!-- //back -->
  </div><!-- //flipper -->
</div><!-- //col2 / flip-container -->
