<%= render 'left_col' %>

<div class="right-col flip-container">
  <div class="flipper">
    <div class="front">
      <h2>Have something to share?</h2>

      <% flash.each do |type, messages| %>
        <div class="alert <%= bootstrap_class_for(type) %> fade in">
          <button class="close" data-dismiss="alert">×</button>
          <ul>
            <% messages.each do |text| %>
            <li><%= text %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_for(@signup, remote: true, html: { role: 'form' }) do |f| %>
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
        </div>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
        </div>
        <div class="form-group">
          <%= f.fields_for :have do |h| %>
            <%= h.text_field :description, class: "form-control", placeholder: "I have..." %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.fields_for :need do |n| %>
            <%= n.text_field :description, class: "form-control", placeholder: "I need..." %>
          <% end %>
        </div>
        <p class="help-block text-center"><small>We won't send you spam. Unsubscribe at any time.</small></p>
        <p>
          <%= f.button "HOWS IT WORK?", type: "button", id: 'how-it-works', class: "btn btn-info btn-med" %>
          <%= f.button "SIGN ME UP", type: "submit", class: "btn btn-success btn-med" %>
        </p>
      <% end %>
    </div><!-- //front -->
    <div class="back">
      <h2>How it works</h2>
      <div class="col-lg-9">
        <p>
          Don't know what you HAVE or NEED? Here's some helpful copy
          that will magically transform your brain.
        </p>
        <ul>
          <li>suggestion lorem ipsum dolor foo bar baz bop</li>
          <li>bim bam wazzle </li>
          <li>Fingerstache occupy nesciunt commodo meh. IPhone VHS kogi next level, cornhole Tonx culpa minim</li>
          <li>Odd Future ugh. Anim Tonx banh mi letterpress four loko</li>
        </ul>
        <div id="lets-do-it" class="btn btn-success btn-med">LETS DO IT</div>
      </div>
    </div><!-- //back -->
  </div><!-- //flipper -->
</div><!-- //right-col / flip-container -->
