<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Event Date</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Community</Data></Cell>
        <Cell><Data ss:Type="String">Have</Data></Cell>
        <Cell><Data ss:Type="String">Need</Data></Cell>
        <Cell><Data ss:Type="String">Item</Data></Cell>
        <Cell><Data ss:Type="String">Skill</Data></Cell>
        <Cell><Data ss:Type="String">Paid</Data></Cell>
      </Row>
    <% @signups.each do |signup| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= signup.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= l signup.event.event_begin_time, format: :event_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= signup.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= signup.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= signup.community %></Data></Cell>
        <Cell><Data ss:Type="String"><%= signup.have  && signup.have.description  || '' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= signup.need  && signup.need.description  || '' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= signup.item  && signup.item.description  || '' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= signup.skill && signup.skill.description || '' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= signup.paid ? 'yes' : 'no' %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>