%table.table.table-hover
  %thead
    %tr
      %th
        ID
      %th
        Event Date
      %th
        Name
      %th
        Email
      %th
        Community
      %th
        Have
      %th
        Need
      %th
        Item
      %th
        Skill
      %th
        Paid
  %tbody
    - @signups.each do |signup|
      %tr
        %td= signup.id
        %td= l signup.event.event_begin_time, format: :event_date
        %td= signup.name
        %td= signup.email
        %td= signup.community
        %td= signup.have  && signup.have.description  || ''
        %td= signup.need  && signup.need.description  || ''
        %td= signup.item  && signup.item.description  || ''
        %td= signup.skill && signup.skill.description || ''
        %td= signup.paid ? 'yes' : 'no'

