.right-col.col-md-5.col-sm-offset-1
  %h2
    Thanks for signing up, #{@signup.first_name}!
  %p
    We look forward to seeing you at #{@signup.event.title} on #{l @signup.event.event_begin_time, format: :event_date} from #{l @signup.event.event_begin_time, format: :event_time_short} -#{l @signup.event.event_finish_time, format: :event_time} at #{@signup.event.venue} #{@signup.event.address}.
  %p
    If you have questions or need to change your
    signup information, email #{link_to "jen@ourgoods.org", "mailto: jen@ourgoods.org"}
