<!DOCTYPE html>
<html>
<head>
  <!-- Layout and design adapted from William Ghelfi's bootstrap splash http://www.williamghelfi.com/ -->
  <title>OurGoods - Digital Event</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap -->
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" %>

  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container panel">
  <div class="row">
    <div class="col-lg-1 col-lg-offset-1">
      <h1><a href="https://ourgoods.org/">OurGoods</a></h1>
    </div>
  </div>
  <div class="row">
    <%= yield %>
  </div><!-- //row -->
</div> <!-- //container -->

</body>
</html>
