!!!
%html.no-js
  %head
    %title OurGoods - Digital Event
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container.panel
      .row
        = yield
      %footer
        %small.text-muted
          <a href="https://ourgoods.org/">OurGoods</a> &bull; #{Date.today.year}

    %script{src: "https://checkout.stripe.com/checkout.js"}

    :javascript
      (function() {
        window.OG = {
          stripe_key: "#{Rails.configuration.stripe[:publishable_key]}"
        };
      })();

    = javascript_include_tag "application", "data-turbolinks-track" => true

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41132342-2', 'auto');
      ga('send', 'pageview');
