<!DOCTYPE html>
<html class="no-js">
<head>
  <title>OurGoods - Digital Event</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container panel">
  <header>
    <h1><a href="https://ourgoods.org/">OurGoods</a></h1>
  </header>
  <div class="row">
    <%= yield %>
    <footer>
      <small class="text-muted"><a href="https://ourgoods.org/">OurGoods</a> &bull; <a href="http://www.flickr.com/photos/erwlas/6133364748/">Background picture by erwlas @flickr</a>. Used under <a href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons - Attribution</a>.</small>
    </footer>
  </div><!-- //row -->
</div> <!-- //container -->

</body>
</html>
